@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

body {
    background-image: url("..//..//img/background.jpg");
    background-size: 100%;
    color: white;
}

#logo {
    width: 190px;
	height: 160px;
}

h1 {
    text-align: center;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 50px 0;
}

h2 {
    font-family: 'Permanent Marker', cursive;
    font-size: 1rem;
    text-decoration: underline;
}

#recherchesRecentes {
    padding-top: 9em;
   
}

#listeRecherche {
    padding: 0 10em 2em 2em; 
}

ul {
    list-style: none;
}

#dégradé {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,9,110,0) 43%, rgba(0,212,255,1) 100%);
    padding: 0 30% 0  43%;
    margin: 0 1% 0 1%;
}
.footer {
    display: flex;
    justify-content: space-between;
    margin-top: 5em;
    padding-right: 3em;
    padding-bottom: 1em;
}

#recherche {
    display: flex;
    justify-content: space-between;
    margin-left: 20% 0 0 20%;
    padding: 0 20% 0 20%;
}

.recherche {
    text-align: center;
}

img {
    border-radius: 10%;
    border-style: groove;
    border-color: whitesmoke;
    box-shadow: whitesmoke;
}

#button {
    display: flex;
    margin: 10%;
    justify-content: space-between;
}

#button:hover {
    color: #255784;
    background: #2196f3;
    box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
    transition-delay: 1s;
} /*Pour que le visiteur ne manque pas les boutons : fond lumineux lorsqu'on passe sur la ligne des boutton*/

#referenceButton {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0%;
    padding-top: 0%;
}

.grille {
     max-width: 1300px;
     width: 80%; /*dès que 80% de la largeur du body est inférieur à 1300px, ça commence à rétraircir*/
     height: auto;
     margin: 13px auto;
     grid-template-columns: repeat(auto-fill, 300px);
     justify-content: center;
     opacity: 80%;
     margin-left: 17%;
}
/*on crée le nombre de colonnes avec grid template columns. Auto-fill me permet de mettre autant de colonnes que la grille peut en prendre en fonction de la taille qu'elle a, en ce qui nous concerne ça sera 4 colonnes de 300px.*/

.grid-item {
     width: 300px;
     height: 200px;
}